

  .bookListContainer {
      
      background: #59bdde;
      padding: 5px;
  }

  .bookListContainerMobile {
    background: #59bdde;


  }

  .bookListWrapperMobile .ui.container {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 5px !important;
    margin: 0 !important;
  }


  .bookListWrapperDesktop .ui.text.container {
    min-width: 765px !important;
    max-width: 765px !important;

  }

